
.table {
    border-collapse: collapse;
    width: 700px;
    height: 350px;
}

caption {
    font-weight: bold;
}

th, td {
    border: solid 1px black;
}

.colonne {
    color: red;
}

.blue {
    color: blue;
}

.en {
    color: blue;
    font-size: 12px;
}

.petit {
    color: blue;
    font-size: 12px;
    vertical-align: top;
}
.couleur{
    background-color: blue;
    height: 2px;
}
.cell1{
border-style: none;
}
.cell2{
    height: 4px;
    background-color: blue;
}
.cell3{
    background-color: red;
}
.cell4{
    background-color: purple;
}
.cell5{
    background-color: deeppink;
}

.cell6{
    background-color: yellow;
}

.cellA{
    padding-top: 10px;
}