
.table {
    border-collapse: collapse;
    width: 700px;
}

caption {
    font-weight: bold;
}

th, td {
    border: solid 1px black;
}

.colonne {
    color: red;
}

.blue {
    color: blue;
}

.en {
    color: blue;
    font-size: 12px;
}

.petit {
    color: blue;
    font-size: 12px;
    vertical-align: top;
}